.abt-me {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
}

.left-abt {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8rem;
    box-sizing: border-box;
}

.left-abt h1,
p {
    font-family: 'Zeyada', cursive;
}

.left-abt h1 {
    font-size: 8rem;
}

.left-abt p {
    font-weight: bold;
    font-size: 3rem;
}

.left-abt-h1-container {
    margin-bottom: -0.5rem;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.left-abt-p-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: -3rem;
}

.right-abt {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons-container-abt {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 10rem;
    margin-left: -2rem;
    padding-left: 2rem;
    /* border: 1px solid red; */
    gap: 2rem;
}

.icon-div {
    position: relative;
    z-index: 99;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
    overflow: hidden;
}

.icon-div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-div svg {
    font-size: 2.5rem;
    color: black;
    transition: all 0.3s;
}

.icon-div:hover {
    background-color: black;
}

.icon-div:hover svg {
    color: white;
}

/* Right side */
.right-abt-p {
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    overflow: hidden;
}

.right-abt-p p {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
}

.right-abt-hide {
    display: none;
}

@media screen and (max-width:800px) {
    .abt-me {
        display: flex;
        flex-direction: column;
    }

    .left-abt {
        margin-top: 2.5rem;
        display: flex;
        height: 50%;
        width: 100%;
        padding-left: 2rem;
        margin-bottom: -6rem;
    }

    .right-abt {
        width: 100%;
        padding-left: 2rem;
    }

    .right-abt-p {
        height: 2.8rem;
    }

    .last-nothide-p {
        height: 5rem;
        line-height: 2.5rem;
    }

    .left-abt h1 {
        font-size: 4rem;
    }

    .left-abt p {
        font-size: 2rem;
    }

    .left-abt-h1-container {
        width: 100%;
        height: 4.5rem;
    }

    .left-abt-p-container {
        width: 100%;
    }
}

@media screen and (max-width:620px) {
    .right-abt-p p {
        font-size: 1.7rem;
        text-align: left;
    }

    .right-abt {
        padding-left: 1rem;
    }
}

@media screen and (max-width:541px) {
    .right-abt-p p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:501px) {
    .right-abt-p p {
        font-size: 1.5rem;
    }

    .right-abt {
        padding-left: 0;
    }
}

@media screen and (max-width:460px) {
    .left-abt {
        margin-bottom: -5rem;
    }

    .right-abt-nothide {
        display: none;
    }

    .right-abt-hide {
        display: flex;
        padding-left: 0px;
    }

    .last-p {
        height: 5.2rem;
    }

    .right-abt-p p {
        font-size: 1.8rem;
        text-align: left;
    }

    .right-abt {
        padding-left: 2rem;
    }
}

@media screen and (max-width:372px) {
    .right-abt {
        padding-left: 0.2rem !important;
    }

    /* .right-abt-p p {
        text-align: center;
    } */
}

@media screen and (max-width:331px) {
    .left-abt {
        margin-bottom: -5rem;
    }

    .right-abt-nothide {
        display: none;
    }

    .right-abt-hide {
        display: flex;
        padding-left: 0px;
    }

    .last-p {
        height: 5.2rem;
    }

    .right-abt-p p {
        font-size: 1.7rem;
    }
}